.collapse-item {
	overflow: hidden;
	transition: all .4s ease;
}

.collapse-enter {
	max-width: 0;
	opacity: 0;
}

.collapse-enter-active {
	max-width: 100%;
	opacity: 1;
	transition: all .4s ease;
}

.collapse-exit {
	width: 100%;
	opacity: 1;
}

.collapse-exit-active {
	width: 0;
	opacity: 0;
	transition: all .4s ease;
}